<footer class="bg-dark p-4 w-100">
    <div class="row">
        <div class="col-7 col-sm-9">
            Copyright &copy; {{ 'now'|date('Y') }} by TheBalco
        </div>
        <div class="col-5 col-sm-3 text-right">
            <a href="{{ base_url() }}/impressum">Impressum</a>
            <span class="d-none d-lg-inline">|</span>
            <a href="{{ base_url() }}/datenschutz">Datenschutz</a>
        </div>
    </div>
</footer>
