<header class="bg-dark p-5" >
    {% set locale = page.getLanguage().getLocale() %}
    {% set navigation = module.getByName('navigation-' ~ locale).getConfig()|json_decode %}
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ base_url() }}">
            <img src="{{ base_url() }}/assets/img/logo.png" alt="Logo" class="mw-100" style="height: 70px;">
        </a>
    </nav>
</header>
