<!DOCTYPE html>
<html lang="{{ page.getLanguage().getLocale() }}">
    <head>
        {% include 'title.twig' %}
        {% include 'meta.twig' %}
        {% include 'style.twig' %}
    </head>
    <body class="bg-black">
        {% include 'header.twig' %}
        {% include 'main.twig' %}
        {% include 'footer.twig' %}
        {% include 'cookie-info.twig' %}
        {% include 'scripts.twig' %}
    </body>
</html>
