$body-color: #FFF;
$link-color: #FFF;
$link-hover-color: #FFF;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';

$fa-font-path: "../webfonts" !default;
@import '../../vendor/fortawesome/font-awesome/scss/fontawesome';
@import '../../vendor/fortawesome/font-awesome/scss/solid';
@import '../../vendor/fortawesome/font-awesome/scss/brands';

.gallery-item {
  height: 150px;
}

#cookie-info {
  position: fixed;
  bottom: 0;
}

.gallery-item {
  position: relative;
  height: 300px;

  .background-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    height: 300px;

    &:hover {
      transform: scale(1.05, 1.05);
    }
  }

  .card-body {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;;
}
.bg-black {
  background-color: #000 !important;;
}

footer {
  position: fixed;
  bottom: 0;
}